.card p{
    margin-bottom: 1px;
    margin-top: -10px;
}

.row .card:hover{
    box-shadow: 2px 2px 2px rgb(0, 0, 0.4);
    transform: scale(1.02);
}

.custom-tooltip {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    transition: opacity 0.2s;
}